body .navbar {
  padding: 30px 20px;
  font-size: 22px;
  margin-bottom: 0;
}
body .navbar ul li a {
  padding: 6px 0;
  height: 34px;
}
body .navbar ul.navbar-right li {
  padding-right: 25px;
}
body .navbar ul.navbar-right li span {
  padding-right: 5px;
}
body .home {
  padding: 40px 25px;
  background-color: #d9edf7;
}
body .home .header {
  padding: 0 15px;
}
body .home .header h2 {
  letter-spacing: 2px;
  font-size: 2.5vw;
  color: #494958;
}
body .home .header h4 {
  margin-top: 20px;
  font-size: 2vw;
  color: #494958;
}
body .home .signup-form form {
  border: 1px solid #d9edf7;
  border-radius: 5px;
  background-color: white;
  padding: 25px;
}
body .home .signup-form form label {
  color: #a5a5a5;
}
body .home .signup-form form input {
  margin: 0 0 5px 0;
}
body .home .signup-form form button {
  color: white;
  background-color: #ef7126;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 17px;
  word-wrap: break-word;
  text-align: center;
}
