body nav {
  padding: 15px;
  font-size: 22px;
  margin-bottom: 0;
}
body nav ul.navbar-right li {
  padding-right: 25px;
}
body nav ul.navbar-right li span {
  padding-right: 5px;
}
body .pagination-section ul.pagination li {
  border: 1px solid red;
  border-radius: 50%;
  padding: 10px;
}
body .pagination-section ul.pagination li:hover {
  cursor: pointer;
}
body .pagination-section ul.pagination .background-color {
  background-color: blue;
}
body .questions-section .questionndoptions {
  display: none;
}
body .questions-section .visible {
  display: block;
}
